.active {
  opacity: 1;
}

.card-link {
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
}
.nav-link {
  color: white !important;
}
.card-link:hover {
  color: #83ddff !important;
}
.nav-link:hover {
  color: #83ddff !important;
}

.dropdown,
.dropdown-menu,
.show {
  background-color: #633cae !important;
  color: #83ddff !important;
  font-size: 1.2rem;
}
.dropdown-item {
  color: white !important;
  font-size: 1.2rem;
}
.dropdown-item:hover {
  background-color: #83ddff !important;
}
.dropdown p,
.dropdown-menu p {
  color: #ffffff !important;
  font-size: 1.2rem;
}

.right-arrow {
  position: relative;
  top: 50%;
  right: 0;
  font-size: 3rem;
  color: black;
  z-index: 50;
  cursor: pointer;
}
.left-arrow {
  position: relative;
  top: 50%;
  left: 0;
  font-size: 3rem;
  color: black;
  z-index: 50;
  cursor: pointer;
}
.slider {
  min-height: 50vh;
  max-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
li {
  justify-content: justify;
  text-align: justify;
  font-size: 1.5rem;
}

@media (max-width: 720px) {
  p,
  li {
    justify-content: justify;
    text-align: justify;
    font-size: 1rem;
  }
}

h2 {
  font-size: 5.6rem !important;
  text-align: center;
}

@media (max-width: 720px) {
  h2 {
    font-size: 2.8rem !important;
  }
}

h3 {
  font-size: 3rem !important;
  text-align: center;
}

@media (max-width: 720px) {
  h3 {
    font-size: 2rem !important;
  }
}

.hidden {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.card-img-top {
  height: 50%;
}

card-body {
  height: 50%;
}
.category-card {
  border-radius: 100px;
}

.card {
  font-family: "Roboto";
}

/* .TimerNumber {
  font-size: 7vw;
    color: white;
    @media screen and (min-width: 1080px) {
        .TimerNumber {
           font-size: 30px;
           color: white;
        }
      }
} */

.custom-card {
  margin: 10px !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2) !important;
  overflow: hidden !important;
  width: 300px !important;
  align-items: center;
}

.custom-card:hover {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2) !important;
}

.custom-card-header {
  padding-top: 1rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-card-header img {
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

.custom-card-body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding: 20px !important;
  min-height: 250px !important;
}

.custom-card-body h4 {
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.absolute {
  position: absolute;
  left: 50px;

  z-index: 10;
}

.relative {
  position: relative;
}

.custom-tag {
  background: #cccccc;
  border-radius: 50px !important;
  font-size: 12px !important;
  margin: 0.1rem !important;
  color: #fff !important;
  padding: 4px 10px !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  font-weight: bold;
}

.tag-gray {
  background-color: #3f3d56;
}

.tag-blue {
  background-color: #83ddff;
}

.tag-yellow {
  background-color: #ffde59;
}

.tag-orange {
  background-color: #ff645f;
}

.tag-violet {
  background-color: #7454ae;
}

.custom-card-body p {
  font-size: 13px !important;
  margin: 0 0 40px !important;
}
.custom-user {
  display: flex !important;
  margin-top: auto !important;
}

.custom-user img {
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  margin-right: 10px !important;
}
.custom-user-info h5 {
  margin: 0 !important;
  font-size: 1rem !important;
}
.custom-user-info small {
  color: #545d7a !important;
}

.custom-container-section {
  display: flex !important;
  justify-content: space-evenly !important;
  flex-wrap: wrap !important;
}
#back-to-top-anchor {
  margin: 0;
  padding: 0;
  border: 0;
  height: 0 !important;
}
.css-co2nuf {
  min-height: 0 !important;
}
.styledlink {
  color: #fff !important;
  text-decoration: none !important;
}
.styledlink:hover {
  color: rgb(14, 241, 230) !important;
  text-decoration: none !important;
}

.custom-section-card {
  margin: 10px !important;
  border-radius: 2% !important;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2) !important;
  overflow: hidden !important;
  width: 33rem !important;
  height: 30rem !important;
  align-items: center;
}
.bgblue {
  background-color: #83ddff !important;
}
.bgyellow {
  background-color: #ffeb83 !important;
}

.bgblue h4,
.bgyellow h4 {
  font-size: 2.2rem;
  color: #3c3c54;
  font-weight: 600;
}
.bgred h4,
.bgpurple h4 {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 600;
}
.custom-section-card-header {
  padding-top: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.custom-section-card-header img {
  width: 332rem !important;
  height: 22rem !important;
  border-radius: 2% !important;
  object-fit: cover !important;
}
.custom-card-body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding: 20px !important;
  min-height: 250px !important;
}

.custom-card-body h4 {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.btn-group button {
  border: 1px solid #ffeb83; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  min-width: 15vw;
}

.btn-group #app {
  background-color: #633cae;
}

.btn-group #ponencias {
  background-color: #ff645f;
}

.btn-group #mesas {
  background-color: #3c3c54;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #83ddff !important;
  color: #333;
}
